@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.container {
  @include flex(column, center, center);

  .form {

    .box {
      margin-top: 10px;
      @include flex(row, center, center);
      @media screen and (max-width: 800px){
        @include flex(column, center, start);
      }
    }

    .input {
      @include text(20px, 16px, 600);
      @include flex(row, start, center);
      width: 250px;
      min-height: 50px;
      border: 2px solid $borderColor;
      padding: 0 10px;
      margin: 0;
      color: $basicColor_1;
      word-break: normal;

    }

    .error {
      position: fixed;
      left: 57%;
      @include text(18px, 15px, 500);
      margin-left: 15px;
      color: $errorColor;
      width: 250px;
      @media screen and (max-width: 1900px){
        left: 60%;
      }
      @media screen and (max-width: 1300px){
        left: 64%;
      }
      @media screen and (max-width: 940px){
        left: 68%;
      }
      @media screen and (max-width: 800px){
       position: inherit;
      }
    }

    .submit {
      @include text(25px, 16px, 500);
      width: 274px;
      height: 50px;
      margin-top: 10px;
      padding: 0 10px;
      border: 2px solid $borderColor;
      background-color: #525454;
      color: aliceblue;
      cursor: pointer;

      &:disabled {
        background-color: #b9b4b5;
        color: #2a2c2c;
        cursor: auto;
      }
    }
  }
}